{{- if not .IsHome -}}
  {{- $translatedTitle := .Title -}}
  {{- if eq .Kind "section" -}}
    {{- $translatedTitle = T .Section | default .Title -}}
  {{- else if eq .Kind "taxonomy" -}}
    {{- $translatedTitle = T .Data.Plural | default .Title -}}
  {{- else if eq .Kind "term" -}}
    {{- $translatedTitle = .Title -}}
  {{- end -}}
  {{- $items := slice -}}
  {{- $items = $items | append (dict "name" .Site.Title "url" .Site.Home.Permalink) -}}
  {{- range .Ancestors.Reverse -}}
    {{- if ne .Permalink $.Site.Home.Permalink -}}
      {{- $ancestorTitle := .Title -}}
      {{- if eq .Kind "section" -}}
        {{- $ancestorTitle = T .Section | default .Title -}}
      {{- else if eq .Kind "taxonomy" -}}
        {{- $ancestorTitle = T .Data.Plural | default .Title -}}
      {{- end -}}
      {{- $items = $items | append (dict "name" $ancestorTitle "url" .Permalink) -}}
    {{- end -}}
  {{- end -}}
  {{- $items = $items | append (dict "name" $translatedTitle "url" .Permalink) -}}
  {{- if gt (len $items) 1 -}}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {{- range $index, $item := $items -}}
          {{- if gt $index 0 }},{{ end -}}
          {
            "@type": "ListItem",
            "position": {{ add $index 1 }},
            "name": {{ $item.name | safeHTML }},
            "item": {{ $item.url | safeHTML }}
          }
        {{- end -}}
      ]
    }
    </script>
  {{- end -}}
{{- end -}}
